# Data types

- user define only one value
- integer
- float
- string 
- complex
- boolean

In [1]:
a = 12      # integer ---- without decimal number
a

12

In [2]:
type(a)

int

In [3]:
a1 = 12.5     # float ---- with decimal number
a1

12.5

In [4]:
type(a1)

float

In [5]:
a2 = "btech"    # string ---- it is a collection of characters, it contains '' ,"", '''    '''(quotes)
a2

'btech'

In [6]:
type (a2)

str

In [7]:
a3 = 2+4j       # complex ---- real + imaginary
a3

(2+4j)

In [8]:
type(a3)

complex

In [9]:
a4 = True     # boolean ---- True or False, always the first letters are capital
a4

True

In [10]:
type(a4)

bool

# Type casting

- convert from one data type to another data type

1. int --- from all data types to int is possible except complex and string with text

In [11]:
int(3.4)     # float --- int

3

In [12]:
int(3.4 , 4.5)     # it accepts only one argument

TypeError: 'float' object cannot be interpreted as an integer

In [13]:
int(True)

1

In [14]:
True + True + True + False * True

3

In [15]:
int(1+2j)   # it doent accepts from complex to int

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [16]:
int("hello")    # sting with text is not accepted,it accepts only numbers

ValueError: invalid literal for int() with base 10: 'hello'

In [17]:
int("10")     # string to int , it accepts only the numbers not the characters

10

2. float --- from all other data type to float is possible except the complex and string with text

In [18]:
float(23)   # int -- float

23.0

In [19]:
float(True)   # boolean -- float

1.0

In [20]:
float (1+2j)   # it doent accepts

TypeError: float() argument must be a string or a real number, not 'complex'

In [21]:
float('10')

10.0

In [22]:
float("ten")   # string - float it accepts only numbers not text

ValueError: could not convert string to float: 'ten'

3. complex -- from all data types to complex is possible except the string with text

In [23]:
complex(10)    # int --- complex

(10+0j)

In [24]:
complex(10,20)   # 10-- real part and 20 is the imaginary part

(10+20j)

In [25]:
complex(10.3)   # float --- complex

(10.3+0j)

In [26]:
complex("10")     # string --- complex , expect the text

(10+0j)

In [27]:
complex(True)   # boolean --- complex

(1+0j)

4. boolean ---- from all data type to boolean is possible with out any issue

In [28]:
bool(1)              #   int --- boolean

True

In [29]:
bool(0)

False

In [30]:
bool(10.2)         # float --- boolean

True

In [31]:
bool(1+2j)     # complex --- boolean

True

In [32]:
bool("10")     # string ---- boolean

True

5. string --- from all data types to string is possible without any issue

In [33]:
str(10)     # int --- str

'10'

In [34]:
str(10.2)      # float ---- str

'10.2'

In [35]:
str(True)          # bool ---- str

'True'

In [36]:
str(10+2j)          # complex ---- str

'(10+2j)'

# DATA STRUCTURES

- Data structure ---- user or developer define more than one value
- there are two types of data structures 
- 1 . inbuild defined ----- list , tuple, set , dict
- 2 . user   defined ------ Array, stack, linked list, heap

1. inbuilt data types

#### List

- list is a collection of elements
- it is denoted by []
- list is mutable
- in list we can define multiple data types
- it allows duplicates

In [37]:
l = [] 
l

[]

In [38]:
type(l)

list

In [39]:
print(len(l))         # list contain 0 elements

0

In [40]:
l.append(10)     # append ---- add element at last
l

[10]

In [41]:
l.append(20)
l.append(30)
l.append(40)
l.append(10)

In [42]:
l

[10, 20, 30, 40, 10]

In [43]:
len(l)

5

In [44]:
l.append(60,70,80,90,100)        # add only one argument

TypeError: list.append() takes exactly one argument (5 given)

In [45]:
l1 = []
l1.append('nit')
l1.append(True)
l1.append(2.3)
l1.append(1+2j)
l1.append([1,2,3])
l1

['nit', True, 2.3, (1+2j), [1, 2, 3]]

In [46]:
l10 = []
l10

[]

In [47]:
l10 = l.copy()         # copy from one list to another list
l10

[10, 20, 30, 40, 10]

In [48]:
print(l)
print(l10)

[10, 20, 30, 40, 10]
[10, 20, 30, 40, 10]

In [49]:
l9 = []
l9

[]

In [50]:
l9.append(2.3)
l9.append('nit')
l9.append(True)
l9.append(1+2j)
l9.append([1,2,3])
l9

[2.3, 'nit', True, (1+2j), [1, 2, 3]]

In [51]:
print(l)
print(l10)
print(l9)

[10, 20, 30, 40, 10]
[10, 20, 30, 40, 10]
[2.3, 'nit', True, (1+2j), [1, 2, 3]]

In [52]:
print(len(l))
print(len(l10))         # length of the list
print(len(l9))

5
5
5

In [53]:
print(id(l))
print(id(l10))       # id ---- address
print(id(l9))

2082704496704
2082704272320
2082704628736

In [54]:
l.count(20)       # it counts and returns the no.of times the element is found in list

1

In [55]:
l9.count('nit')

1

In [56]:
l9

[2.3, 'nit', True, (1+2j), [1, 2, 3]]

In [57]:
l9[0]

2.3

In [58]:
l9[0] = 230       # list is mutable
l9

[230, 'nit', True, (1+2j), [1, 2, 3]]

In [59]:
l10

[10, 20, 30, 40, 10]

In [60]:
len(l10)

5

In [61]:
l10.clear()        # clear ---- removes the elements in the list
l10

[]

In [62]:
l9.pop()

[1, 2, 3]

In [63]:
l9.pop()

(1+2j)

In [64]:
l9.pop()

True

In [65]:
l9

[230, 'nit']

In [66]:
l9.pop(1)

'nit'

In [67]:
l1

['nit', True, 2.3, (1+2j), [1, 2, 3]]

In [68]:
l1.remove(1+2j)           # remove ----- it removes the element in the list
l1

['nit', True, 2.3, [1, 2, 3]]

In [69]:
l1.index('nit')         # it returns the index value of the element in the list

0

In [70]:
print(l)
print(l10)
print(l9)
print(l1)

[10, 20, 30, 40, 10]
[]
[230]
['nit', True, 2.3, [1, 2, 3]]

In [71]:
l1.sort()        # all the elements are different datatypes
l1

TypeError: '<' not supported between instances of 'bool' and 'str'

In [72]:
l.sort()           # sort is applicable for only the elements are same data types 
l

[10, 10, 20, 30, 40]

In [73]:
l.sort(reverse = True)        # reverse= True means it returns the list in reverse order
l

[40, 30, 20, 10, 10]

In [74]:
l9.extend(l1)
l9                          # extend ---- it returns the one list at the end of another list

[230, 'nit', True, 2.3, [1, 2, 3]]

In [75]:
for i in l9:
    print(i)

230
nit
True
2.3
[1, 2, 3]

In [76]:
for i in enumerate(l9):
    print(i)                                 # enumerate ---- it captures the pair of index

(0, 230)
(1, 'nit')
(2, True)
(3, 2.3)
(4, [1, 2, 3])

#### Tuple

- it is defined as  (  )
- it is immutable
- it accepts the duplicates
- it have only the two functions
- 1 . count()
- 2 . index()

In [77]:
t=()
t

()

In [78]:
type(t)

tuple

In [79]:
t1 = (10,20,30,40,10)     # duplicate is alloed
t1

(10, 20, 30, 40, 10)

In [80]:
t1.count(10)              # it returns the no.of times the eleement is repeats

2

In [81]:
t1.index(40)                     # it returns the index value of the element

3

In [82]:
mytuple = ('one','two','three','four','five','six','seven','eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [83]:
mytuple[2]

'three'

In [84]:
mytuple[2:5]

('three', 'four', 'five')

In [85]:
mytuple[-2:]

('seven', 'eight')

In [86]:
del mytuple[0]            # tuple is immutable

TypeError: 'tuple' object doesn't support item deletion

In [87]:
mytuple[0]=1              # immutable

TypeError: 'tuple' object does not support item assignment

In [88]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [89]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [90]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [91]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [92]:
'three' in mytuple           # membership

True

In [93]:
sorted(mytuple)            # alphabetical order      a-----z

['eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two']

In [94]:
sorted(mytuple,reverse=True)           # it returns in reverse z --- a

['two', 'three', 'six', 'seven', 'one', 'four', 'five', 'eight']

#### Set

- set and dict both are defined by {   }
- when we define {} the system bydefaulty take it as dict
- so if we want to define set we need to use call set()
- in set indexing and slicing is not working
- in set duplicates are not allowed

In [95]:
s= { }                  # { }---- bydeafault the system takes as dict
type(s)

dict

In [96]:
s = set()
type(s)

set

In [97]:
s1 = {90,80,3,13,47,100,1}          # random numbers of same data type ----- ordered 
s1

{1, 3, 13, 47, 80, 90, 100}

In [98]:
s2 = {4,'nit',2.3,True,1+2j}
s2

{(1+2j), 2.3, 4, True, 'nit'}

In [99]:
s1

{1, 3, 13, 47, 80, 90, 100}

In [100]:
s1.add(200)
s1

{1, 3, 13, 47, 80, 90, 100, 200}

In [101]:
s1.add(100)               # in set duplicates are not allowed
s1

{1, 3, 13, 47, 80, 90, 100, 200}

In [102]:
s3 = s1.copy()
s3

{1, 3, 13, 47, 80, 90, 100, 200}

In [103]:
s3 == s1                           # equal

True

In [104]:
len(s3)

8

In [105]:
s3.clear()                     # it removes all set elements
s3

set()

In [106]:
s1.pop()                    # removes the random element but in list it removes the last element

80

In [107]:
s1

{1, 3, 13, 47, 90, 100, 200}

In [108]:
s1.pop(1)                 # indexing is not allowed

TypeError: set.pop() takes no arguments (1 given)

In [109]:
s1.remove(200)
s1                            # removes the given elements in the set

{1, 3, 13, 47, 90, 100}

In [110]:
s1.discard(1000)           # never through the error, if the element is a member it removes

In [111]:
s1.remove(1000)           #if member it remove or else it gives bugs

KeyError: 1000

In [112]:
for i in s1:
    print(i)

1
3
100
90
13
47

In [113]:
for i in enumerate(s1):
    print(i)

(0, 1)
(1, 3)
(2, 100)
(3, 90)
(4, 13)
(5, 47)

In [114]:
s1.update([1,2])                # update is used for add the multiple items to the set
s1

{1, 2, 3, 13, 47, 90, 100}

##### set operations

UNION (U AND | )

In [115]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [116]:
A | B | C          #UNION ----- it returns the elements of a , b , c  without duplicates

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [117]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [118]:
B.union(C)

{4, 5, 6, 7, 8, 9, 10}

In [119]:
A.union(C)          # it returns the elements of A and C without the duplicates

{1, 2, 3, 4, 5, 8, 9, 10}

 INTERSECTION  ( & )

In [120]:
A.intersection(B)           # it returns the common elements

{4, 5}

In [121]:
B & C

{8}

 DIFFERENCE ( - )

In [122]:
print(A)
print(B)
print(C)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [123]:
A - B                    # it returns the elements of A without the same values

{1, 2, 3}

In [124]:
C.difference(B)

{9, 10}

In [125]:
A.difference(B)

{1, 2, 3}

 SYMMETRIC DIFFERENCE ( ^ )

In [126]:
A.symmetric_difference(B)         # it returns the elements of both sets without the common elements

{1, 2, 3, 6, 7, 8}

In [127]:
B ^ C

{4, 5, 6, 7, 9, 10}

SYMMETRIC_DIFFERENCE_UPDATE

In [128]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

IS_SUPERSET

In [129]:
A1 = { 1,2,3,4,5,6,7,8,9}
B1 = {3,4,5,6,7,8}
C1 = { 10,20,30,40}

In [130]:
print(A1)
print(B1)
print(C1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8}
{40, 10, 20, 30}

In [131]:
A1.issuperset(C1)

False

In [132]:
A1.issuperset(B1)    #Superset --- the elements of 2nd set contains the elements of 1st set, based on that it returns True

True

IS_SUBSET

In [133]:
B1.issubset(A1)    #  Subset----the 1st set contains the elements of 2nd set

True

In [134]:
A1.issubset(C1)

False

IS_DISJOINTSET

In [135]:
B1.isdisjoint(C1)  # Disjoint --- elements in one set doesn't have any relation with the other set elements then it returns True or else false

True

In [136]:
B1.isdisjoint(A1)

False

OTHER BUILT IN FUNCTIONS

In [137]:
A1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [138]:
max(A1)

9

In [139]:
min(A1)

1

In [140]:
len(A1)

9

In [141]:
sum(A1)     # it adds all elements are returns the value

45

In [142]:
sorted(A1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [143]:
sorted(A1 , reverse=True)            # sorted the values in reverse

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [144]:
list(enumerate(A1))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

#### Dictionary

- dictionary is a mutable data type
- its a collection of keys and values
- it is denoted by {  }
- keys must be unique , it allowed the duplicate of values

In [145]:
mydict = {}      # empty dictionary
mydict

{}

In [146]:
mydict = { 1: 'jan' , 2 : 'feb' , 3 : 'mar', 4 : ' apr', 5 : 'may' }
mydict

{1: 'jan', 2: 'feb', 3: 'mar', 4: ' apr', 5: 'may'}

In [147]:
mydict.keys()           # returns the  all keys in dict

dict_keys([1, 2, 3, 4, 5])

In [148]:
mydict.values()           # returns the  all values in dict

dict_values(['jan', 'feb', 'mar', ' apr', 'may'])

In [149]:
mydict.items()            # returns the  all keys and values in dict

dict_items([(1, 'jan'), (2, 'feb'), (3, 'mar'), (4, ' apr'), (5, 'may')])

In [150]:
mydict.pop(2)             # it removes the defined item

'feb'

In [151]:
mydict.popitem()            # pop item  ---  removes the random item

(5, 'may')

 # RANGE ()

In [152]:
range(5)

range(0, 5)

In [153]:
r= range(1,10)
r

range(1, 10)

In [154]:
list ( range(1,10) )

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [155]:
list ( range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [156]:
list ( range(0,20,2))          # step count of 2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [157]:
list ( range(0,10,2,2))       # it doent accepts the more than three arguments

TypeError: range expected at most 3 arguments, got 4

# operators

- the operators are 5 types
- 1 . Arithmetic operator
- 2 . assignment operator
- 3 . relational operator
- 4 . logical operator
- 5 . unary operator

#### 1 . Arithmetic operator ( + , - , * , / , % )

In [158]:
x1, y1 = 10 , 5

In [159]:
x1 + y1     # sum

15

In [160]:
x1 - y1

5

In [161]:
x1 * y1

50

In [162]:
x1 **   y1                  # ** ----square

100000

In [163]:
x1/ y1

2.0

In [164]:
 x1 // y1             # // ---- it returns the value in int format

2

In [165]:
x1 % y1

0

#### 2 . Assignment operator ( == , += , -= , *= , /= )

In [166]:
x = 2

In [167]:
x = x+2

In [168]:
x

4

In [169]:
x += 2        # add 2 to the previous value
x

6

In [170]:
x += 2
x

8

In [171]:
x *= 2            
x

16

In [172]:
x -= 2

In [173]:
x

14

In [174]:
x /= 2

In [175]:
x

7.0

In [176]:
a,b = 5,6

In [177]:
a

5

In [178]:
b

6

#### 3. Unary operator ( - )

- Here we are applying unary minus operator(-) on the operand n; the value of m becomes -7, which indicates it as a negative value.

In [179]:
n = 7

In [180]:
m = -(n)

In [181]:
m

-7

In [182]:
n

7

In [183]:
-n

-7

#### 4. Relational operator ( < , >, >= , <= , == , !=)

- we are using this operator for comparision

In [184]:
a = 5
b = 7

In [185]:
a == b

False

In [186]:
a<b

True

In [187]:
a>b

False

In [188]:
a = 10             # changed

In [189]:
a != b

True

In [190]:
b =  10            # b is changed

In [191]:
a == b

True

In [192]:
a >= b

True

In [193]:
a <= b

True

In [194]:
a < b

False

In [195]:
b = 7

In [196]:
a != b

True

#### 5 . logical operator ( And , Or , Not)

In [197]:
a = 5
b = 4

In [198]:
print(a)
print(b)

5
4

In [199]:
a < 8 and b < 5

True

In [200]:
a < 8 and b < 2

False

In [201]:
a < 8 or b < 2

True

In [202]:
a > 8 or b < 2

False

In [203]:
x = False
x

False

In [204]:
not x           # you can reverse the operation

True

In [205]:
x = not x
x

True

In [206]:
not x

False

In [207]:
x

True

# NUMBER_SYSTEM

 - Binary  ( base 2 )       == 0b
 - Octal     ( base 8 )      ==0o  
 - Decimal     ( base 10 )     ==0x
 - Hexadecimal     ( base 16 )   ==0xabcdef

In [208]:
25

25

In [209]:
bin(25)

'0b11001'

In [210]:
int(0b11001)

25

In [211]:
bin(30)

'0b11110'

In [212]:
int(0b11110)

30

In [213]:
oct(25)

'0o31'

In [214]:
int(0o31)

25

In [215]:
oct(60)

'0o74'

In [216]:
hex(25)

'0x19'

In [217]:
int(0x19)

25

In [218]:
int(0x17)

23

In [219]:
0xa

10

In [220]:
0xb

11

In [221]:
0xf

15

# Swap Variables

- in python there are 3 ways to swap the variables
- 1 . by using the third variable (temp)
- 2 . ( a , b = b , a )
- 3 . ( a = a + b 
        b = a - b 
        a = a - b )

In [222]:
aa = 5
bb = 6

In [223]:
aa = bb
bb = aa

In [224]:
print (aa)
print (bb)

6
6

In [225]:
# in the above we lost the value 5
aa1 = 7
bb1 = 8

In [226]:
temp = aa1                       # we swap the variables by using the 3rd variable
aa1 = bb1
bb1 = temp

In [227]:
print(aa1)
print(bb1)

8
7

In [228]:
aa2 = 9
bb2 = 3                   # second way

In [229]:
aa2 , bb2 = bb2 , aa2

In [230]:
print(aa2)
print(bb2)

3
9

In [231]:
aa3 = 45
bb3 = 56

In [232]:
aa3 = aa3 + bb3
bb3 = aa3 - bb3                   # third way to swap the variable
aa3 = aa3 - bb3

In [233]:
print(aa3)
print(bb3)

56
45

# Bitwise operators

-  bitwise operators are 6 types
- 1 . complement ( ~ )
- 2 . And        ( & )
- 3 . Or         ( | )
- 4 . Xor        ( ^ )
- 5 . leftshift   ( << )
- 6 . rightshift  ( >> )

In [234]:
print(bin(12))
print(bin(13))

0b1100
0b1101

1. complement ( ~ )

In [235]:
~ 45     # the memory never store the negative values

-46

In [236]:
~45

-46

In [237]:
~6

-7

In [238]:
~-6

5

2 . And (& )

- in And 1 & 1 returns 1 then all other returns 0

In [239]:
 12 & 13

12

In [240]:
11 & 1

1

In [241]:
35 & 40

32

3 . or  ( | )

- in or 0 | 0 returns 0 then all are returns 1

In [242]:
12 | 13

13

In [243]:
 11 | 1

11

In [244]:
1 | 1

1

4 . xor ( ^ )

- in xor both values are different it returns 1( True) or else 0 (False)

In [245]:
25 ^ 30

7

In [246]:
12 ^ 13

1

5 . left shift ( << )

In [247]:
bin(10)

'0b1010'

In [248]:
10 << 2                 # left shift ---- gain the bits

40

In [249]:
20 << 3

160

6 . right shift ( >> )

In [250]:
int (0b1010)

10

In [251]:
10 >> 2                                  # right shift ---- lose the bits

2

# Import math modules

In [252]:
 xx = sqrt ( 25 )                # sqrt is inbuild function

NameError: name 'sqrt' is not defined

In [253]:
import math

In [254]:
xx = math.sqrt(25)

In [255]:
xx

5.0

In [256]:
print(math.floor(2.9))           # it returns  minimum or lesser value of decimal

2

In [257]:
print(math.ceil(2.9))                # it returns maximum or upper value of decimal

3

In [258]:
print(math.pow(3,2))

9.0

In [259]:
print(math.pi)            # in math pi is constant

3.141592653589793

In [260]:
print(math.e)                # constant

2.718281828459045

In [261]:
import math as m

In [262]:
m.sqrt(10)

3.1622776601683795

In [263]:
from math import sqrt,pow

In [264]:
print(pow(2,3))
print(sqrt(34))

8.0
5.830951894845301

In [265]:
from math import *            # all internal functions are called in backend

In [266]:
pow(2,3)

8.0

In [267]:
round(pow(2,3))

8

# INPUT FUNCTION

In [269]:
X = input ()            # input fn by default it takes the elements as string format
Y = input ()
Z = X+Y
print ( Z )

 3
 5

35

In [271]:
X1 = input ('enter the 1st number')
Y1 =  input ('enter the 2nd number')
Z1 = X1 + Y1
print (Z1)

enter the 1st number 4
enter the 2nd number 7

47

In [272]:
type(X1)
type(Y1)

str

In [274]:
X1 = input ('enter the 1st number')        
AA1 = int(X1)
Y1 =  input ('enter the 2nd number')
BB1 = int(Y1)
Z1 = AA1 + BB1 
print (Z1)

enter the 1st number 4
enter the 2nd number 7

11

In [275]:
X2 = int(input ('enter the 1st number'))
Y2 = int(input ('enter the 2nd number'))
Z2 = X2 + Y2
print (Z2)

enter the 1st number 3
enter the 2nd number 5

8

In [276]:
ch = input ('enter a txt')
print(ch)

enter a txt hello

hello

In [277]:
print(ch[0])

h

In [278]:
print(ch[-1])

o

In [280]:
ch = input ('enter a txt')[0]
print(ch)

enter a txt career

c

In [281]:
ch = input ('enter a txt')[1:3]
print(ch)

enter a txt career

ar

# EVAL ()

- eval is used for the expressions

In [282]:
result = eval ( input ('enter an exp'))
result

enter an exp 8*2+293-82+456

683

In [283]:
result_1 = eval ( input ('enter an exp'))
print(result_1)

enter an exp 567+678-786+2786+82*4

3573